language: swift
osx_image: xcode9.3
xcode_workspace: Pomodoro.xcworkspace
xcode_scheme: Pomodoro
before_install:
	- pod repo update
script:
    - xcodebuild clean build -sdk iphonesimulator -workspace Pomodoro.xcworkspace -scheme Pomodoro CODE_SIGNING_REQUIRED=NO
